body {
  min-height: 100vh;
  max-width: 1900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-image: url(giphySpace.gif) cover;
}

main {
  flex-grow: 1;
}

.moon-box {
  background-image: url(giphySpace.gif);
  background-size: cover;
}

.moon-image {
  background-image: url(moon-image.png);
}
/*spinning moon*/
  @keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
  }

